/* Slide in from rigth */
@keyframes slideIn {
    0% {
        transform: translate(100%);
    }
    100% {
        transform: translate(0);
    }
}

/*  Slide out to left */
@keyframes slideout {
    0% {
        transform: translate(0);
    }    
    100% {
        transform: translateX(-100%);
    }
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}